{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<h1 class="bg-pink-500 text-3xl">Chai aur code | Home Page</h1>
<p class="text-center w-20 bg-green-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis recusandae culpa iusto dolorum, odio ea optio a voluptatem quaerat vitae assumenda ducimus ratione vel, hic iste neque animi accusamus magnam atque! Illum natus unde officiis quod nihil iure eius harum cumque itaque voluptatibus commodi sapiente, tenetur temporibus, cum soluta mollitia?</p>
{% endblock %}